@import 'normalize.css/normalize.css';
@import './fonts.css';

:root {
  --color-default-light: #ffffff;
  --color-default-dark: #000000;
  --color-default-dark-soft: #212529;
  --color-alpha: #0783a2;
  --color-beta: #7c75ca;
  --color-gamma: #d88f39;
  --color-psi: #ca7599;
  --color-omega: #5e8f4d;
  --color-kappa: #4692d9;
  --shadow-box: 0 2px 10px rgba(0, 0, 0, 0.4);
  --font-fancy: 'Playfair Display', serif;
  --font-simple: 'Roboto', arial;
  font-family: var(--font-simple);
}

body {
  display: grid;
  gap: 60px;
}

header {
  display: grid;
  min-height: 844px;
  background: url(../images/curved-triangle.svg) no-repeat;
  background-size: cover;
  padding-top: 40px;
}

header,
main {
  padding-left: 20px;
  padding-right: 20px;
}

.cover {
  display: grid;
  grid-template: 1fr / 1fr;
  margin: 0 20px;
  box-shadow: var(--shadow-box);
}

.cover img {
  width: 100%;
  object-fit: contain;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.cover h1 {
  font-weight: 400;
  font-family: var(--font-fancy);
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: end;
  font-size: 4.3rem;
  color: var(--color-default-light);
  margin: 0 0 0 15px;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.4);
}

h2 {
  font-family: var(--font-fancy);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-size: 1.4rem;
  color: var(--color-default-dark-soft);
}

.socials {
  justify-self: center;
  display: grid;
  grid-template: 36px / repeat(3, 36px);
  gap: 25px;
}

.projects {
  gap: 40px;
  display: grid;
  grid-auto-rows: 500px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
  display: grid;
  grid-template-rows: 3fr 2fr;
  box-shadow: var(--shadow-box);
}

.project-screenshot {
  display: grid;
  place-items: center;
  font-size: 3rem;
  padding: 40px;
  text-align: center;
  font-family: var(--font-fancy);
  color: var(--color-default-light);
}

.project-screenshot.personal {
  background-color: var(--color-beta);
}

.project-screenshot.professional {
  background-color: var(--color-gamma);
}

.project-screenshot.philanthropy {
  background-color: var(--color-kappa);
}

.project-screenshot.culture {
  background-color: var(--color-psi);
}

.project-screenshot.misc {
  background-color: var(--color-omega);
}

.project-links {
  display: grid;
  grid-template: 32px / repeat(2, 32px);
  gap: 15px;
}

.project-details {
  display: grid;
  grid-template: 64px 1fr / 1fr;
  gap: 10px;
}

.project-details > div {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  height: 64px;
}

.project-details > p {
  padding: 0 10px;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 1.7rem;
  font-family: var(--font-fancy);
  font-weight: 400;
}
