@import 'normalize.css/normalize.css';
@import './fonts.css';

:root {
  font-family: 'Roboto', arial;
  --color-default-light: #ffffff;
  --color-default-dark: #000000;
  --color-alpha: #0783a2;
  --color-beta: #7c75ca;
  --color-gamma: #d88f39;
  --color-psi: #ca7599;
  --color-omega: #5e8f4d;
  --color-kappa: #4692d9;
  --shadow-box: 0 2px 12px rgba(0, 0, 0, 0.6);
}

header {
  min-height: 844px;
  background: url(../images/curved-triangle.svg) no-repeat;
  background-size: cover;
  padding-top: 40px;
}

.cover {
  display: grid;
  grid-template: 1fr / 1fr;
  margin: 0 40px;
  box-shadow: var(--shadow-box);
}

.cover img {
  width: 100%;
  object-fit: contain;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.cover p {
  font-family: 'Playfair Display', serif;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: end;
  font-size: 4.3rem;
  color: var(--color-default-light);
  margin: 0 0 0 15px;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.4);
}
